
<div style="width: 100%; height: 100%;">

<div fxLayout="row" fxLayoutAlign="center center"  class="topBar">
    <h1 class="header">Book Store Registeration</h1>
</div>



<div class="main">
<form [formGroup]="form" style="width: 100%;">
 <div class="nameContainer">
    <mat-form-field appearance="outline" class="name">
        <mat-label>First Name</mat-label>
        <input formControlName="FirstName" matInput placeholder="First Name" required>
        <mat-error *ngIf="form.controls.FirstName.hasError('required')">
            First Name is required
        </mat-error>
        <mat-error
            *ngIf="form.controls.FirstName.hasError('pattern') && !form.controls.FirstName.hasError('required')">
            please enter valid name
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="name">
        <mat-label>Last Name</mat-label>
        <input formControlName="LastName" matInput placeholder="Last Name" required>
        <mat-error *ngIf="form.controls.LastName.hasError('required')">
            Last Name is required
        </mat-error>
        <mat-error
            *ngIf="form.controls.LastName.hasError('pattern') && !form.controls.LastName.hasError('required')">
            please enter valid name
        </mat-error>
    </mat-form-field>
</div>

<div class="nameContainer">
<mat-form-field appearance="outline" class="name">
    <mat-label>Email</mat-label>
    <input formControlName="Email" matInput placeholder="pat@example.com" required>
    <mat-error *ngIf="form.controls.Email.hasError('required')">
        email is required
    </mat-error>
    <mat-error
        *ngIf="form.controls.Email.hasError('email')&& !form.controls.Email.hasError('required')">
        please enter valid email id
    </mat-error>
</mat-form-field>

<mat-form-field appearance="outline" class="name">
    <mat-label>Phone</mat-label>
    <input formControlName="Phone" matInput placeholder="98760XXXXX" required>
    <mat-error *ngIf="form.controls.Phone.hasError('required')">
        Phone is required
    </mat-error>
</mat-form-field>
</div>

<mat-form-field appearance="outline" class="Email">
    <mat-label>Address</mat-label>
    <input formControlName="Address" matInput placeholder="eg: XYZ" required>
    <mat-error *ngIf="form.controls.Address.hasError('required')">
        Address is required
    </mat-error>
</mat-form-field>


<div class="nameContainer">

<mat-form-field appearance="outline" class="name">
    <mat-label>State</mat-label>
    <input formControlName="State" matInput placeholder="eg: XYZ" required>
    <mat-error *ngIf="form.controls.State.hasError('required')">
        State is required
    </mat-error>
</mat-form-field>



<mat-form-field appearance="outline" class="name">
    <mat-label>City</mat-label>
    <input formControlName="City" matInput placeholder="eg: XYZ" required>
    <mat-error *ngIf="form.controls.City.hasError('required')">
        City is required
    </mat-error>
</mat-form-field>

</div>

    <div class="nameContainer">

        <mat-form-field appearance="outline" class="name">
            <mat-label>Pin</mat-label>
            <input formControlName="Pin" matInput placeholder="eg: 711101" required>
            <mat-error *ngIf="form.controls.Pin.hasError('required')">
                Pin is required
            </mat-error>
        </mat-form-field>

    <mat-form-field appearance="outline" class="name">
        <mat-label>Password</mat-label>
        <input formControlName="Password" matInput [type]="hide ? 'password' : 'text'" required>
        <mat-error *ngIf="form.controls.Password.hasError('required')">
            Password is required
        </mat-error>
        <mat-error
            *ngIf="form.controls.Password.hasError('pattern') && !form.controls.Password.hasError('required')">
            1 letter, 1 number, 1symbol and 8 char long
        </mat-error>
    </mat-form-field>

    </div>
      <div class="Button">
        <a href="/login" class="Link">sign in instead</a>
        <button type="submit" class="RegisterButton" (click)="LoadData()">Register</button>
    </div>

</form> 
</div>
</div>