<mat-toolbar class="toolbar">
    <img class="logo" src="../../../assets/Images/education.svg">
    <span class="title">Book Store</span>

    <mat-icon class="icon2" fxHide.gt-xs>search</mat-icon>
    <div *ngIf="dispalySearchBar" fxHide.xs class="input-card">
        <mat-icon class="icon1">search</mat-icon>
        <div class="input-feild">
            <input type="search" [(ngModel)]="bookName" (input)="bookSearch()" style="font-size: medium;" placeholder="search..">
        </div>
    </div>
    <div *ngIf="dispalyimg" class="cart-div">
        <div style="display: flex; flex-direction: row;">
            <button (click)="navigateCart()" class="cartButton">
                <mat-icon matBadge="{{length}}" [matBadgeHidden]="length == 0" matBadgeColor="warn">

                
                    <img src="../../../assets/Images/supermarket.svg">
                </mat-icon>
            </button>
        </div>
    </div>
    <span class="settings" *ngIf="!dispalyimg"></span>
    <button mat-button [matMenuTriggerFor]="beforeMenu">
        <img src="../../../assets/Images/imgIcon.png" alt="Avatar " class="prfIcon">
    </button>
    <mat-menu class="abc123" #beforeMenu="matMenu" xPosition="before">
        <img src="../../../assets/Images/unnamed.png" alt="Avatar " class="innerPosition a"><br><br>
        <p style="margin-left: 35%;">{{name}}</p>
        <p style="margin-left: 16%;">{{email}}</p>

        <div style="display: flex; justify-content: center; flex-direction: row;">
        <input type="submit" value="WishList" class="wishListButton" (click)="navigateWishList()">
        <input type="submit" value="Sign out" class="wishListButton" (click)="logout()">
    </div>
    </mat-menu>
</mat-toolbar>