
<div class="main">


    <div fxLayout="row" fxLayoutAlign="center center"  class="topBar">
        <h1 class="header">Book Store</h1>
    </div>
    
    
    
    <div class="mainContainer">
    
    <form [formGroup]="form" style="text-align: center;">
        
     <h1 class="h1Header">Forget Password</h1><br>
    
        <mat-form-field appearance="outline" class="Email">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" required>
            <mat-error *ngIf="form.controls.Email.hasError('required')">
                email is required
            </mat-error>
            <mat-error *ngIf="form.controls.Email.hasError('email')&& !form.controls.Email.hasError('required')">
                please enter valid email id
            </mat-error>
        </mat-form-field>
    

    
    
      <br><br>
    
    
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <a href="/register" class="CreateAccount">Sign up instade</a>
            <button type="submit" class="Button">Login</button>
        </div>
    
    
    
    </form>
    </div>
    
    </div>