
<div style="width: 100%; height: 76.1%;">
    <div class="container">
        <div class="greeting1">
          <img src="../../../assets/Images/new12345.jpg" style="height: 200px; width: 100%;" />
        </div>
        <div class="message">
          <span>Order Placed Successfully</span>
        </div>
       
        <div class="greeting2">
          <span> order id  #1234689000765</span>
        </div>
        <div class="contact-heading"><span>Contact Us</span></div>
        <div class="contactus">
          <div class="card">
            <mat-card class="email">
              <mat-card-title
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: white;
                  font-size: larger;
                  background-color: rgba(131, 4, 4, 0.829);
                "
                >Email us</mat-card-title
              >
              <mat-card-content
                style="
                  display: flex;
                  justify-content: center;
                  font-size: medium;
                  align-items: center;
                  padding-top: 10px;
                "
                >nitinmakin124@gmail.com</mat-card-content
              >
            </mat-card>
          </div>
          <div class="card">
            <mat-card class="email">
              <mat-card-title
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: white;
                  background-color: rgba(131, 4, 4, 0.829);
                  font-size: larger;
                "
                >Contact us</mat-card-title
              >
              <mat-card-content
                style="
                  display: flex;
                  justify-content: center;
                  font-size: small;
                  align-items: center;
                  padding-top: 10px;
                "
                >+91-7829376277</mat-card-content
              >
            </mat-card>
          </div>
          <div class="card">
            <mat-card class="email">
              <mat-card-title
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: white;
                  font-size: larger;
                  background-color: rgba(131, 4, 4, 0.829);
                "
                >Address</mat-card-title
              >
              <mat-card-content
                style="
                  display: flex;
                  justify-content: center;
                  font-size: small;
                  align-items: center;
                  padding-top: 10px;
                "
                >34/3 charu chandra singha</mat-card-content
              >
            </mat-card>
          </div>
        </div>
        <div
          style="
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <button
          type="submit"
            mat-button
            style="
              height: 45px;
              width: 200px;
              background-color: #3371b5;
              color: whitesmoke;
              font-family: Lato;
            "
            (click)="navigateBook()"
          >
            CONTINUE SHOPPING
          </button>
        </div>
      </div>
</div>