<div style="min-height: 71.3%; width: 100%;">
    <div fxLayout="row wrap" fxLayoutAlign="start start" class="Margin" (change)="handlePageSizeChange($event)">
        <div class="MatCard removePadding" *ngFor="let book of bookArray | paginate: { 
    itemsPerPage: pageSizes,
    currentPage: page,
    totalItems: count };let i = index" (mouseover)="showDiscription[i]=true" (mouseout)="showDiscription[i]=false">
            <div class="imageDiv" fxLayout="wrap">
                <div class="innerImage">
                    <img src="{{book.image}}" alt="" style="width: 100%; height: 100%;">
                </div>
            </div>

            <div class="bookName">
                {{book.name}}
            </div>

            <div class="authorName">
                by {{book.author}}
            </div>

            <div class="price">
                Rs. {{book.price}}
            </div>
            <div class="buttons">
                <button type="submit" class="cartButton" *ngIf="!book.cartConditionButton && !displayWishList" id=book.id
                    (click)="addBookToCart(book)">ADD TO CART</button>

                <button type="submit" class="cartButton" *ngIf="displayWishList && displayWishList" id=book.id
                    (click)="addToCartFromWishlist(book)">ADD TO CART</button>

                <button type="submit" class="cartButton1" *ngIf="book.cartConditionButton">ADDED TO CART</button>

                <button type="submit" (click)="addBookToWishList(book)" class="wishListButton"


                    *ngIf="!book.cartConditionButton && !displayWishList">WISHLIST</button>


                <button type="submit" class="wishListButton" *ngIf="displayWishList"
                    (click)="removeBookFromWishList(book)">REMOVE</button>
            </div>
            <mat-card class="discriptionCart" *ngIf="showDiscription[i]">
                <p class="bookDetailHeader">Book Details</p>
                {{book.discription}}
            </mat-card>
        </div>
    </div>

    <div *ngIf="displayBook" class="paginaterAllignment">
        <pagination-controls (pageChange)="handlePageChange($event)" previousLabel="Prev" nextLabel="Next"
            responsive="true"></pagination-controls>
    </div>