.topBar{
    height: 60px;
    width: 100%;
    background-color: #A03037;
    color: white;
    text-align: center;
}
.main{
    width: 100%;
    height: 100%;
}

.header{
    font-size: xx-large;
    margin-top: 10px;  
}
.loginHeader{
    font-size: x-large;
   font-weight: bold;
    color: #A03037;
}
.mainContainer{
    
        margin-top: 60px;
        height: 60%;
        width: 23%;
        border: 1px solid rgb(240, 240, 240);
        display: flex;
        justify-content: space-around;
        margin-left: 33%;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 30px;
        box-shadow: 0 .5px 1px 0 rgba(237, 186, 186, 0.323), 0 3px 10px 0 #ffc3c358;
        display: flex;
        justify-content: center;
    
}
.Email{
    width: 300px;
   
}

.ForgetPassword{
 margin-right: 61%;
    text-decoration: none;
    color: #A03037;
    font-weight: 500;
}
.Button{
    margin-right: 10px;
    background-color: #A03037;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
}
.CreateAccount{
    text-decoration: none;
    color: #A03037;
    font-weight: 500;
    margin-left: 1.5%;
}


@media screen and (max-width:850px) {
.mainContainer{
    width: 40%;
    margin-left: 23%;
}
    
}


@media screen and (max-width:550px) {
    .mainContainer{
        width: 50%;
      margin-left: 16%;
    }
}


@media screen and (max-width:430px) {
    .mainContainer{
        width: 50%;
      margin-left: 10%;
    }
}

@media screen and (max-width:400px) {
    .mainContainer{
        width: 70%;
      margin-left: 0%;
      border: none;
      box-shadow: none;
      margin-top: 40px;
    }

    .topBar{
     
        width: 110%;    
    }

    .header{
        font-size: xx-large;
        margin-top: 10px;  
        margin-right: 5%;
    }
}