.footer{
    width: 100%;
    min-height: 40px;
    background-color: rgb(22, 22, 22);
    color: white;
    margin-top: 4%;
    position: relative;
    bottom:0;
  }




.footerTest{
    margin-left: 15%;
  }


  @media screen and (max-width:500px) {
    .footer{
      width: 105%;
      margin-top: 13%;
    }
  }